<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".NativeMapProofActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:label="FisherGO native map proof"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme" />
    </application>
</manifest>
